<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.3.1.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.mobile-1.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>


</head>
<body ng-controller="FormController">
    <div data-role="page" id="firstPage">    
        <div data-role="panel" id="setupPanel" data-display="push">
            <input type="text" ng-model="MFData.inspectorName" placeholder="Inspector's Name">
            <input type="text" ng-model="MFData.area" placeholder="Area">
            <label for="fromDate">From</label>
            <input name="fromDate" type="date" ng-model="MFData.from" placeholder="From">
            <label for="toDate">To</label>
            <input name="toDate" type="date" ng-model="MFData.to" placeholder="To">
            <a ng-click="saveStateToLocal()" href="#" data-role="button">Save</a>
        </div>

        <div data-role="header">
            <a href="#setupPanel" data-icon="gear">Setup</a>
            <h2>Excavation Report</h2>
            <a href="#secondPage" data-icon="plus">New work order</a>
        </div>

        <div data-role="content">               

            <ul>
                <li ng-repeat="work in MFData.workList">
                    <p>
                        Name: {{work.contractorName}} 
                        Location: {{work.address}}
                    </p>
                </li>
            </ul>

        </div>

    </div>


    <div data-role="page" id="secondPage" ng-controller="InputController">
        <div data-role="header">
            <a href="#firstPage" data-icon="back">Back</a>
            <h2>New WO</h2>
            <a ng-click="saveWorkOrder()" href="#" data-icon="check">Save</a>
        </div>

        <div data-role="content">
            <form>
                <input type='text' name='contractorName' id='contractorName' placeholder="Contractor's Name" ng-model="submission.contractorName">
                <input type='text' name='address' id='address' placeholder='Job Location/Town' ng-model="submission.address">


                <textarea cols='40' rows='8' name='Remarks' id='Remarks' placeholder='Remarks' ng-model='submission.remarks'></textarea>
            </form>
        </div>
    </div>


</body>
</html>
